
:root{
    --color-primary: hwb(212 42% 19%);
    --color-main: #dfad5e;
    --color-main-darker: #fda63a;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    text-decoration: none;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
}

.login-container {
    padding: 3.75rem 2.5rem;
    margin: 30px;
    min-width: 200px;
    width: 280px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    /* border: 2px solid rgba(255, 255, 255, 0.2); */
    border: none;
    color: var(--color-dark);
}


.login-container h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-main);
}

.login-container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.textbox-main {
    display: flex;
    justify-content: center;
    position: relative;
}

.textbox {
    background: transparent;
    border: 2px solid var(--color-dark);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    outline: none;
    padding: 0.6;
    padding-left: 0.25;
    color: var(--color-dark);
}

.textbox::placeholder {
    color: var(--color-dark);
}

.textbox-main span {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    color: var(--color-dark);
    font-size: 1.8rem;
    cursor: pointer;
}

.textbox-main span:hover {
    color: var(--color-dark-variant);
}

.submit-btn {
    border: none;
    outline: none;
    background: var(--color-main);
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s ease;
}

.submit-btn:hover {
    background: var(--color-main-darker);
}

.remember-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0 0 0;
    font-size: 0.9rem;
    font-style: italic;
    cursor: pointer;
}

#remember {
    accent-color: var(--color-main);
    cursor: pointer;
}

.textbox-main p {
    display: none;
    position: absolute;
    top: 110%;
    padding: 5px;
    margin: 5px 1px;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    text-align: center;
    line-height: 18px;
    background: var(--color-danger);
    border-radius: 5px;
    z-index: 1;
    transform: scale(1);
    transform-origin: top left;
    animation: AlertTip 0.3s ease-in-out;

}

.textbox-main p::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 5%;
    transform: translateY(-100%);
    border: 8px solid transparent;
    border-bottom-color: var(--color-danger);
}

.textbox-main .Alert{
    display: block;
}

.err-msg{
    color: red;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
}

@keyframes AlertTip {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media (width > 350px) {
    .login-container {
        width: 300px;
    }
}