aside{
    height: 100vh;
}

aside{
    display: block;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.4rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 87vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 15px;
    margin-left: 0;
}

aside .sidebar a.active:hover{
    color: var(--color-white);
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
}

aside .sidebar a.active span{
    color: var(--color-white);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

aside .sidebar .message-count{display: none;}

aside .sidebar .message-count.active{
    display: block;
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


@media screen and (max-width: 1200px) {

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }


}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 4.6rem auto;
        grid-template-areas: 'nav' 'main-content';
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        top: 0;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    aside.active{
        display: block;
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    aside .toggle .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar{
        height: 100svh;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 7rem;
    }

    aside .sidebar a.active{
        color: var(--color-primary);
        background-color: var(--color-light);
        border-radius: 0;
    }

    aside .sidebar a.active:hover{
        color: var(--color-primary);
    }

    aside .sidebar a.active span{
        color: var(--color-primary);
    }

    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }

}