.details-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "client-form" "visit-table";
  gap: 15px;

  .client-form {
    grid-area: client-form;
  }

  .visit-table {
    grid-area: visit-table;
  }
}

.details-form {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  margin: 0 auto;
  padding: 30px 10px;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);

  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 3%;

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  span.error {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 600;
  }

  input,
  select,
  textarea {
    padding: 10px;
    background: var(--color-white);
    color: var(--color-dark);
    border: 2px solid var(--color-info-dark);
    border-radius: var(--border-radius-1);
    width: 100%;
    position: relative;
  }

  input:focus,
  select:focus,
  textarea:focus {
    border-color: var(--color-dark);
  }

  textarea {
    height: 85px;
    resize: none;
  }

  .w-35 {
    width: 35%;
    margin: 5px 0;
  }

  .w-45 {
    width: 48%;
  }

  .w-100 {
    width: 100%;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4%;
    flex-wrap: wrap;
  }

  .personal-info,
  .contact,
  .interests {
    width: max(300px, 30%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }

  #clientId {
    width: 135px;
  }

  .full-flex {
    /* width: calc(90% + 10px); */
    width: 100%;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 600;
    border: none;
    border-radius: var(--border-radius-1);
    padding: 10px 20px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--color-primary-dark);
  }
}

.visit-table {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px auto;
  background: var(--color-white);
  padding: 0 15px 10px;
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  font-family: Poppins, sans-serif;

  > div {
    height: 90px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      color: var(--color-dark);
      font-weight: 600;
      font-size: 1.4rem;
    }

    button {
      background-color: var(--color-primary);
      color: var(--color-white);
      border: none;
      padding: 10px 20px;
      border-radius: var(--border-radius-1);
      cursor: pointer;
      font-family: Poppins, sans-serif;
      font-weight: 600;
    }

    button:hover {
      background-color: var(--color-primary-dark);
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 10px;
  }

  table thead {
    position: sticky;
    top: 0;
    background: var(--color-white);
    border-bottom: 2px solid var(--color-dark);
  }

  th,
  td {
    padding: 12px;
    text-align: center;
    font-size: 0.9rem;
    font-family: Poppins, sans-serif;
    color: var(--color-dark);
  }

  th {
    font-size: 1.1rem;
  }

  td.action-buttons {
    >div{
      display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    > button, a>button {
      display: flex;
      align-items: center;
      justify-content: center;
      /* color: var(--color-white); */
      /* padding: 3px; */
      /* font-size: 3px; */
      border: none;
      border-radius: var(--border-radius-1);
      cursor: pointer;
    }
    }
  }
}

/* Responsive design */

@media (width < 1200px) {
  body {
    height: fit-content;
    align-items: start;
  }

  .details-container{
    margin: 50px 0;
  }

  .visit-table {
    --tr-padding: 50px;
    /* max-height: fit-content; */
    height: auto;

    table thead tr {
      padding: 0 10px;
      font-size: 1rem;
      font-weight: 600;
    }

    table tr th {
      font-size: inherit !important;
      font-weight: inherit !important;
    }

    table
      tr
      th:nth-child(n + 2):not(
        :nth-last-child(3),
        :nth-last-child(2),
        :last-child
      ) {
      display: none;
    }

    td {
      font-size: 0.9rem;
    }

    table tbody {
      width: 100%;
      padding: 10px;
      display: grid;
      gap: 10px;
    }

    table tr {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr 1fr;
      grid-template-areas: "field1 field2 field3 field4";
    }

    table tr td:first-child {
      grid-area: field1;
    }

    table tr td:nth-last-child(3) {
      grid-area: field2;
    }

    table tr td:nth-last-child(2) {
      grid-area: field3;
    }

    table tr td:last-child {
      grid-area: field4;
    }

    table
      tr
      td:nth-child(n + 2):not(
        :nth-last-child(3),
        :nth-last-child(2),
        :last-child
      ) {
      transition: all 0.5s ease;
      grid-column: 1 / span 4;
      text-align: right;
      padding-right: var(--tr-padding);
      padding-left: 40%;
      position: relative;
    }

    table
      tr
      td:nth-child(n + 2):not(
        :nth-last-child(3),
        :nth-last-child(2),
        :last-child
      ) {
      display: none;
    }

    table
      tr.active
      td:nth-child(n + 2):not(
        :nth-last-child(3),
        :nth-last-child(2),
        :last-child
      ) {
      display: block;
    }

    table
      tr
      td:nth-child(n + 2):not(
        :nth-last-child(3),
        :nth-last-child(2),
        :last-child
      )::before {
      content: attr(data-cell) ": ";
      font-weight: 600;
      position: absolute;
      left: var(--tr-padding);
    }

    table tr td {
      display: block;
      padding: 12px;
    }
  }
}


@media (width<1100px) {
  .details-container {
    height: auto;
  }

  .details-form {
    height: fit-content;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 25px;

    .personal-info,
    .contact,
    .interests {
      width: max(200px, 80%);
    }

    .controls {
      justify-content: center;
      gap: 10px;
    }
  }
}

@media (width < 769px) {
  .visit-table {
    --tr-padding: 10px;

    table tr th:nth-last-child(2) {
      display: none;
    }

    table tr {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas: "field1 field2 field3";
    }

    table tr td:last-child {
      grid-area: field3;
    }

    table tr td:nth-last-child(2) {
      grid-area: unset;
    }

    table tr td:nth-last-child(2) {
      grid-column: 1 / span 3;
      text-align: right;
      padding-right: var(--tr-padding);
      padding-left: 40%;
      position: relative;
    }

    table tr td:nth-last-child(2) {
      display: none;
    }

    table tr.active td:nth-last-child(2) {
      display: block;
    }

    table tr td:nth-last-child(2)::before {
      content: attr(data-cell) ": ";
      font-weight: 600;
      position: absolute;
      left: var(--tr-padding);
    }
  }
}

@media (width < 550px) {
  .visit-table {
    table tr th:last-child {
      display: none;
    }

    table tr {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "field1 field2";
    }

    table tr td:last-child {
      grid-area: unset;
    }

    table tr td:last-child {
      grid-column: 1 / span 3;
      justify-content: right;
      padding-right: var(--tr-padding);
      padding-left: 40%;
      position: relative;
    }

    table tr td:last-child {
      display: none;
    }

    table tr.active td:last-child {
      display: flex;
    }

    table tr td:last-child::before {
      content: attr(data-cell) ": ";
      font-weight: 600;
      position: absolute;
      left: var(--tr-padding);
    }
  }
}